@model DJRM.Common.Security.Model.PictureModel

@if (!String.IsNullOrEmpty(Model.PictureURL))
{
    @*<img  class="profilePicture" width="80" height="80" src="@Model.PictureURL" alt="Gravatar" />*@
    <img  class="profilePicture" src="@Model.PictureURL" alt="Gravatar" />
}
else
{
    <a id="Gravatar1" href="http://www.gravatar.com" title="Get your avatar">
        @*<img class="profilePicture" width="80" height="80" src="http://www.gravatar.com/avatar.php?gravatar_id=@(Model.HashedEmail)&rating=G&size=80" alt="Gravatar" />*@
        <img class="profilePicture" src="http://www.gravatar.com/avatar.php?gravatar_id=@(Model.HashedEmail)&rating=G" alt="Gravatar" />
    </a>
}

